@thatBlueColor: #3C97D2;

.day-text {
  background-color: @thatBlueColor;
  color: white;
  width: 6%;
  text-align: center;
  padding: 8px;
  border-radius: 3px;
  font-size: 21px;
  font-weight: 900;
}
