@font-face {
  font-family: 'Arimo', sans-serif;
  src: url('../fonts/Arimo-Regular.ttf') format('truetype');
}

@headerHeight: 200px;
@headerSpacing: 350px;
@headerBorder: #D9DADD;
@headerBarColor: #E7E8E9;
@headerDisplacement: ~"calc(@{headerHeight} + 70px)";

@timelineMinHeight: ~"calc(100vh - @{headerDisplacement})";

@lightboxSpacing: 20px;

@backgroundColor: #FAFAFB;
@fontColor: #939597;
@clientNameColor: #E54C3B;

@checkIconColor: #36AB96;
@xIconColor: #4F5D6A;

body, #root {
  margin: 0;
  padding: 0;
  background-color: @backgroundColor;
  font-family: 'Arimo', sans-serif;
  min-width: 1300px;
}

.line-svg {
  z-index: 0;
  position: fixed;
  top: 227px;
  min-width: 1300px;
  left: -3.6px;

  line {
    stroke: rgb(60,151,210);
    stroke-width: 0.002;
  }
}

.header {
  background-color: white;
  height: @headerHeight;
  width: ~"calc(100vw - calc(2 * @{headerSpacing}))";
  position: fixed;
  top: 35px;
  left: @headerSpacing;
  border-radius: 10px;
  border: 2px @headerBorder solid;
  min-width: 700px;
  z-index: 2;
}

.header-bar {
  color: @fontColor;
  background-color: @headerBarColor;
  height: 50px;
  border-bottom: 2px @headerBorder solid;
  border-radius: 7px 7px 0 0;
  display: flex;

  .number-author, .icons {
    flex-grow: 1;
  }

  .client-name {
    flex-grow: 2;
    padding-right: 36px;
  }

  .number-author {
    font-size: 15px;
    padding-left: 7px;
    padding-top: 9px;
    font-weight: 400;
  }

  .icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 40px;

    .check-icon, .x-icon {
      padding-right: 5px;
    }

    .check-icon {
      color: @checkIconColor;
    }

    .x-icon {
      color: @xIconColor
    }
  }

  .client-name {
    color: @clientNameColor;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
  }
}

.client-name {
  padding-top: 5px;
}

.timeline {
  min-height: @timelineMinHeight;
  display: flex;
  flex-direction: column;
  margin-top: @headerDisplacement;
  //margin: @headerDisplacement @headerSpacing 0 @headerSpacing;
}

.lightbox {
  position: fixed;
  background: white;
  border: 3px @headerBorder solid;
  top: @lightboxSpacing;
  left: @lightboxSpacing;
  width: ~"calc(100vw - calc(2 * @{lightboxSpacing}))";
  height: 300px;
  display: none;
}
