@font-face {
  font-family: 'aphont';
  src: url('../fonts/APHont-Regular_q15c.ttf') format('truetype'),
       url('../fonts/APHont-Bold_q15c.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@headerHeight: 200px;
@headerSpacing: 300px;
@headerBorder: #D9DADD;
@headerBarColor: #E7E8E9;
@headerDisplacement: ~"calc(@{headerHeight} + 70px)";

@timelineMinHeight: ~"calc(100vh - @{headerDisplacement})";

@lightboxSpacing: 20px;

@backgroundColor: #FAFAFB;

body, #root {
  margin: 0;
  padding: 0;
  background-color: @backgroundColor;
  font-family: "aphont";
  min-width: 1300px;
}

.line {
  position: fixed;
  top: 227px;
  left: 49.6%;
}

.header {
  background-color: white;
  height: @headerHeight;
  width: ~"calc(100vw - calc(2 * @{headerSpacing}))";
  position: fixed;
  top: 20px;
  left: @headerSpacing;
  border-radius: 10px;
  border: 3px @headerBorder solid;
  min-width: 700px;
}

.header-bar {
  text-align: center;
  background-color: @headerBarColor;
  height: 40px;
  border-bottom: 3px @headerBorder solid;
}

.client-name {
  padding-top: 5px;
}

.timeline {
  min-height: @timelineMinHeight;
  display: flex;
  flex-direction: column;
  margin-top: @headerDisplacement;
  //margin: @headerDisplacement @headerSpacing 0 @headerSpacing;
}

.lightbox {
  position: fixed;
  background: white;
  border: 3px @headerBorder solid;
  top: @lightboxSpacing;
  left: @lightboxSpacing;
  width: ~"calc(100vw - calc(2 * @{lightboxSpacing}))";
  height: 300px;
  display: none;
}
